body {
  margin-top: 50px;
  margin-bottom: 50px;
}


.datapoint-panel {
  /* height: 480px; */
  height: calc(50vh - 200px);
  overflow-y: auto;
}

.drone-image{
  height: 16px;
  length: 16px;
}


.file-load{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + .file-load-label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + .file-load-label,
.inputfile + .file-load-label:hover {
    background-color: red;
}

.inputfile + .file-load-label {
	cursor: pointer; /* "hand" cursor */
}
